<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="BurntRanch's pretty-sick blog!"/>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div id="title" class="center">
{% block header %}
{% endblock %}
</div>

<div id="page-container">
    <div id="content-wrap" style="padding-top: 15px;">
    {% block content %}
    {% endblock %}
    </div>
    <footer id="footer">
        <a href="https://github.com/BurntRanch/BurntSite" class="button">Developed with &lt;3 in the open!</a>
        <a href="/privacy-policy" class="button">Privacy Policy</a>
    </footer>
</div>

</body>
</html>
