{% extends "main.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block header %}
    <h1>Privacy Policy</h1>
    <p>August 10th, 2025</p>
{% endblock %}

{% block content %}
    <div class="center">
        <div id="post-content">
            <p>devranch.ovh does not directly store any PII (Personally Identifiable Information). Not that we ask for that information anyways.</p>
            <p>Your browser may send us Technical Data. this data is not stored directly by us (Cloudflare might store it, though).</p>
            <p>Keep in mind that our website is protected by Cloudflare, who may provide us with Analytics including more Technical Data that your device provides us. You may be subject to their policies.</p>
            <p>We may use Cookies for convenience sake. for example, when enabling something like dark mode, your browser will receive a cookie allowing it to easily remember the preference next time.</p>
            <p>Cookies may also be used for security sake. for example, certain pages may save authentication and CSRF cookies.</p>
        </div>
        <span>
        <a class="button" href="/">Index</a>
        </span>
    </div>
{% endblock %}
