<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div id="title" class="center">
{% block header %}
    <h1>Hello, welcome!</h1>
    <br>
    <p>Welcome to my website!</p>
{% endblock %}
</div>

<div id="page-container">
    <div id="content-wrap" style="padding-top: 15px;">
    {% block content %}
        <h3>Here are some blog posts you might like:</h3>

        {% if posts|length > 0 %}
            <ol id="posts">
            {% for post in posts %}
                <a href="/blog/post/{{ post.uid }}"><h3 style="display: inline;">"{{ post.title }}"</h3></a> <p style="display: inline; font-size: small; padding-left: 10px;">{{ post.pub_date }}</p>
                <br>
            {% endfor %}
            </ol>
        {% else %}
            <p>No posts yet..</p>
        {% endif %}
    {% endblock %}
    </div>
    <footer id="footer">
        <a href="https://github.com/BurntRanch/BurntSite" class="button">Developed with &lt;3 in the open!</a>
        <a href="/privacy-policy" class="button">Privacy Policy</a>
    </footer>
</div>

</body>
</html>