<!DOCTYPE html>
<html>
<body>

<div>
{% block header %}
    <h1>Hello, welcome!</h1>
    <p>Welcome to my website!</p>
{% endblock %}
</div>

<div style="padding-top: 15px;">
{% block content %}
    <h3>Here are some blog posts you might like:</h3>

    {% if posts|length > 0 %}
        <ol id="posts">
        {% for post in posts %}
            <a href="/blog/post/{{ post.uid }}"><h3 style="display: inline;">{{ post.title }}</h3></a> <p style="display: inline; font-size: small; padding-left: 10px;">{{ post.pub_date }}</p>
            <br>
        {% endfor %}
        </ol>
    {% else %}
        <p>No posts yet..</p>
    {% endif %}
{% endblock %}
</div>

</body>
</html>