{% extends "main.html" %}

{% block header %}
    {% if post %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.pub_date }} UTC</p>
    {% else %}
        <h1>Post not found.</h1>
        <a href="/">Go back to the index.</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if post %}
        <div class="center">
            <div id="post-content"><p>{{ post.content|linebreaks }}</p></div>
            <span>
            <a class="button" href="/">Index</a>
            </span>
        </div>
    {% endif %}
{% endblock %}
