{% extends "main.html" %}

{% block header %}
    <h1>Privacy Policy</h1>
    <p>June 26th, 2025</p>
{% endblock %}

{% block content %}
    <div class="center">
        <div id="post-content">
            <p>devranch.ovh does not knowingly store any PII (Personally Identifiable Information). Not that we ask for that information anyways.</p>
            <p>We may collect Technical Data from you when you visit our website. This Technical Data includes but is not limited to your IP address, your device, your browser, etc.</p>
            <p>This Technical Data is not stored and only used to protect our website from web-crawlers (using Anubis, which may process info about your User Agent).</p>
            <p>Keep in mind that our website is protected by Cloudflare, who may provide us with Analytics regarding Technical Data your device provides us. You may be subject to their policies.</p>
            <p>We may use Cookies for convenience sake. for example, when you complete a challenge served by Anubis, your browser will receive a cookie allowing it to easily visit next time.</p>
            <p>Cookies may also be used for security sake. for example, certain pages may save authentication and CSRF cookies.</p>
        </div>
        <span>
        <a class="button" href="/">Index</a>
        </span>
    </div>
{% endblock %}
