@font-face {
    font-family: 'AdwaitaMono';
    src: url("AdwaitaMono-Regular.ttf") format("truetype");
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.button {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 10px;
}

.left {
    position: fixed;
    bottom: 0;
    left: 0;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.right {
    position: fixed;
    bottom: 0;
    right: 0;

    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

html {
    background-color: #1a1a1a;
}

h1, h2, h3, p, a, #post-content {
    color: #fafafa;
    font-family: 'AdwaitaMono';
}

#post-content {
    font-size: 20px;
}

a {
    text-decoration-style: wavy;
    text-decoration-color: #fafafa;
    text-underline-offset: 2px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 4rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

#title, #post-content {
    background-color: #1f1f1f;
    border-radius:10px;
}

#post-content {
    width: 75%;
    padding: 10px;

    text-align: start;
}

#title h1, #title p, #title a {
    display: inline;
    background-clip: border-box;
    width: max-content;
    padding-inline: 5px;
    text-align: center;
}

#title h1 {
    background-color: #282828;
    border-radius: 10px;
}

#title a {
    padding-bottom: 10px;
}
